<main class="container">
  <div class="row">
    <form class="col-md-6 offset-md-3 mt-2" [formGroup]="registerForm">
      <h4>Cadastre-se</h4>
      <div class="form-group">
        <label style="margin-top: 10px !important;">Nome </label>
        <input class="form-control">
        <label>Sexo </label>
        <input type="radio" name="radiog_lite" id="radio1" class="css-checkbox" />
        <label for="radio1" class="css-label radGroup1">Feminino</label>
        <input type="radio" name="radiog_lite" id="radio2" class="css-checkbox" checked="checked" />
        <label for="radio2" class="css-label radGroup1">Masculino</label>
        <label>Data de Nascimento </label>
        <input class="form-control">
        <label>E-mail </label>
        <input class="form-control" type="email" formControlName="email">
        <label>Curso </label>
        <input class="form-control">
        <label>Matrícula </label>
        <input class="form-control">
        <label>Senha </label>
        <input class="form-control" type="password" formControlName="password">
        <button type="button" class="btn btn-tcm mt-4" (click)="tryRegister(registerForm.value)">Cadastrar</button>
        <button type="button" class="btn btn-tcm mt-4" (click)="tryFacebookLogin()">Cadastrar com Facebook</button>
        <button type="button" class="btn btn-tcm mt-4" (click)="tryGoogleLogin()">Cadastrar com Gmail</button>
      </div>
    </form>
  </div>
</main>
