<mat-card style="max-width: 400px; border-radius: 10px;
border: 2px solid #fff; color: #fff; background-color: #3f51b5;">
  <mat-card-content style="max-width: 400px; border-radius: 10px;
  border: 2px solid #fff; color: #fff; background-color: #3f51b5;">

  </mat-card-content>
  <mat-card-actions style="display: flex; justify-content: space-evenly;">
      <button class="btn btn-md" style="background-color: red; color: white;font-weight: 700;">Excluir Conta</button>
      <button class="btn btn-md" style="background-color: white; color: #000; font-weight: 700;">Salvar Alterações</button>
    </mat-card-actions>
</mat-card>
