<main>
    <div class="form-inline" style="margin-top: 20px; display: flex; justify-content: center; margin-bottom: 10px;">
          <input type="text" class="form-control mr-2" placeholder="O que você quer aprender hoje?" style="width: 280px; margin-bottom: 5px;" #busca (keyUp)="recuperaAulasDaArea(busca.value)">
          <button type="submit" id="btn-criar" (click)="recuperaAulasDaArea(busca.value)" class="btn btn-tcm btn-sm">Buscar</button>
      </div>
  <div style="display: flex; justify-content: center; flex-wrap: wrap;">
    <div *ngFor="let aula of aulas" style="padding: 2%; text-align: center;">
      <mat-card>
        <mat-card-content>
            <p>
              {{aula.titulo}}<br>
              Duração: {{aula.duracao}}<br>
              Preço: {{aula.preco}}<br>
            </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn btn-md" style="background-color: white; color: #000; font-weight: 700;" (click)="ingressarAula(aula.id)">Ingressar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div style="display: flex; justify-content: center; margin-bottom: 20px; margin-top: 10px;">
    <button type="submit" id="btn-criar" style="text-align: center; font-weight: 400;" (click)="recuperaTodasAulas()" class="btn btn-tcm btn-lg">Todas as Aulas</button>
  </div>
  </main>
  