<div style="text-align: right; padding: 1%; font-weight: bold;">
    Saldo Atual: R$ 50,00
</div>
<hr>
<div style="text-align: center;" id="div-pagamento">
    <h3>Comprar créditos:</h3>
    <p style="padding: 4%; ">
      Você será redirecionado para o Mercado Pago, assim que efetuar o pagamento de um dos valores abaixo debitaremos a mesma quantia na sua conta! Bons estudos! :)
    </p>
    <div style="display: flex; justify-content: center;">
    <button mp-mode="dftl" style="background-color: #3f51b5; color: #ffffff" class="btn mr-4" name="MP-payButton" (click)="showPagamento()">
      R$ 20,00
    </button>

    <button mp-mode="dftl" style="background-color: #3f51b5; color: #ffffff" class="btn mr-4" name="MP-payButton" (click)="pagar('https://www.mercadopago.com/mlb/checkout/start?pref_id=166987208-7502c05c-a0d1-4a2a-9fdf-23b0bf020e68')">
      R$ 50,00
    </button>

    <button mp-mode="dftl" style="background-color: #3f51b5; color: #ffffff" class="btn" name="MP-payButton" (click)="pagar('https://www.mercadopago.com/mlb/checkout/start?pref_id=166987208-16fbe4f1-68f4-476c-85ab-8dd6397d6846')">
      R$ 100,00
    </button>
  </div>
</div>
<div class="mt-4" style="display: flex; height: 500px; justify-content: center;" id="pagamento-view" >
  <embed src="https://www.mercadopago.com/mlb/checkout/start?pref_id=166987208-c9781467-4354-4552-9e4f-ccf5b066a156" width="50%">
  <button type="button" class="btn btn-light" (click)="voltar()">Voltar</button>
</div>

<script type="text/javascript">
  (function () { function $MPC_load() { window.$MPC_loaded !== true && (function () { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js"; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); window.$MPC_loaded = true; })(); } window.$MPC_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null; })();
</script>
