agm-map {
  height: -webkit-fill-available;
}

a {
  color: darkblue;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}

#info {
  border: 5px solid red !important;
}

.btn-tcm {
  color: #fff;
  border-radius: 10px;
  background-color: #3f51b5;
  font-weight: 500;
}

.btn-tcm-default {
  color: #000;
  border-radius: 10px;
  background-color: #bebebe;
  font-weight: 500;
}