agm-map {
  height: -webkit-fill-available;
}

a {
  color: darkblue;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}

.markers {
  icon: "/assets/img/graduated.png";
}
