<!--<pre>{{ usuario | json }}</pre>-->
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked()">

  <agm-marker
      *ngFor="let m of usuario.markers; let i = index"
      (markerClick)="clickedMarker(infoWindow)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">

    <!-- Coloca como se fosse um ID no componente HTML -->
    <agm-info-window #infoWindow>
      <strong>{{m.aula.titulo}}</strong><br>
      Duração: {{m.aula.duracao}}<br>
      Preço: R$ {{m.aula.preco}}<br>
      <button (click)='openVerticallyCentered(content)'>Ver Instrutor</button>
      <button>Ingressar</button>
    </agm-info-window>

    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{m.aula.instrutor.nome}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Curso: {{m.aula.instrutor.curso}}</p>
        <p>Membro desde: {{m.aula.instrutor.datacriacao}}</p>
        <p>Avaliação:
        <ng-template #t let-fill="fill">
          <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
          </span>
        </ng-template>

        <ngb-rating [(rate)]="m.aula.instrutor.avaliacao" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
  </agm-marker>

</agm-map>
