<main class="container">
  <div class="row">
    <form class="col-md-6 offset-md-3">
      <img src="/assets/img/LOGO.png" class="img-fluid">
      <h4>Entre na sua conta</h4>
      <div class="form-group">
        <label>Usuário </label>
        <input class="form-control">
        <label class="mt-2">Senha </label>
        <input class="form-control">
        <button class="btn btn-lg btn-block mt-4">Acessar Conta</button>
        <a class="mt-2" href="">Esqueci minha senha</a>
        <label class="lb mt-3">Não possui uma conta?
          <a href="" style="color: #3f51b5">Cadastre-se</a>
        </label>
      </div>
    </form>
  </div>
</main>
