<main class="container">
  <div style="display: block !important; text-align: center;">
    <h1 style="margin-top: 50px;">Recupere sua senha</h1>
    <h4> Insira o seu e-mail e enviaremos um link para uma nova senha!</h4>
    <div class="row">
      <form class="col-md-6 offset-md-3">
        <div class="form-group mt-4">
          <label>E-mail </label>
          <input class="form-control">
          <label>Confirmar E-mail</label>
          <input class="form-control">
          <div class="buttons mt-5">
            <a routerLink="/" class="btn btn-tcm-default">Voltar</a>
            <a routerLink="/" class="btn btn-tcm">Enviar</a>
          </div>
        </div>
      </form>
    </div>
    </div>
</main>
