<main>
  <div *ngFor="let aula of aulas" style="padding: 2%; text-align: center;">
    <mat-card style="max-width: 400px; border-radius: 10px;
    border: 2px solid #fff; color: #fff; background-color: #3f51b5;">
      <mat-card-content>
          <p>
            {{aula.titulo}}<br>
            Duração: {{aula.duracao}}<br>
            Preço: {{aula.preco}}<br>
            Avaliação: {{aula.instrutor.avaliacao}}
          </p>
      </mat-card-content>
      <mat-card-actions style="display: flex; justify-content: space-evenly;">
        <button class="btn btn-md" style="background-color: white; color: #000; font-weight: 700;">Editar</button>
        <button class="btn btn-md" style="background-color: red; color: white;font-weight: 700;">Excluir</button>
      </mat-card-actions>
    </mat-card>
  </div>
</main>
