<main>
  <div *ngIf="!criarAula" style="display: flex; justify-content: flex-start; flex-wrap: wrap;">
  <div *ngFor="let aula of aulas" style="padding: 2%; text-align: center;">
    <mat-card>
      <mat-card-content>
          <p>
            {{aula.titulo}}<br>
            Duração: {{aula.duracao}}<br>
            Preço: {{aula.preco}}<br>
          </p>
      </mat-card-content>
      <mat-card-actions style="display: flex; justify-content: space-evenly;">
        <button class="btn btn-md" style="background-color: white; color: #000; font-weight: 700;" (click)="editarAula(aula.id)">Editar</button>
        <button class="btn btn-md" style="background-color: red; color: white;font-weight: 700;" (click)="excluirAula(aula.id)">Excluir</button>
      </mat-card-actions>
    </mat-card>
  </div>
 </div>
  <div style="display: flex; justify-content: center;" id="div-criar-aula">
    <button type="submit" id="btn-criar" style="width: 50%;" (click)="exibirCriarAula()" class="btn btn-tcm btn-lg btn-block mt-4">Criar Aula</button>
  </div>
  <div *ngIf="criarAula">
    <form class="col-md-6 offset-md-3 mt-2" [formGroup]="aulaForm" (ngSubmit)="enviarDados()">
      <h4>Criar/Editar Aula</h4>
      <div class="form-group">
        <label style="margin-top: 10px !important;" for="nome">Título </label>
        <input class="form-control" id="nome" type="text" formControlName="titulo">
        <label>Descrição </label>
        <input class="form-control" type="text" formControlName="descricao">
        <label>Duração </label>
        <input class="form-control" type="text" formControlName="duracao" placeholder="Em minutos">
        <label>Preço </label>
        <input class="form-control" type="number" formControlName="preco" placeholder="Em reais">

        <div class="mt-4" style="display: flex; justify-content: space-between;">
          <button class="btn btn-md" style="background-color: #3f51b5; color: white; font-weight: 700;" [disabled]="!aulaForm.valid" (click)="salvarAula()">Salvar</button>
          <button class="btn btn-md" style="background-color: red; color: white;font-weight: 700;" (click)="exibirAulas()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</main>
