<div style="display: flex; justify-content: center; margin-top: 200px">
    <button class="btn btn-dark" style="color: white; font-weight: 700;" (click)="avaliarAula()">Finalizar</button>

<countdown-timer style="font-size: 200px;color:white;background-color: #3f51b5;padding:30px;font-family:Roboto;" [end]="'2018-10-22 22:40:00'">
  
    
</countdown-timer>
    <button class="btn btn-md" style="background-color: red; color: white;font-weight: 700;" (click)="cancelarAula()">Cancelar</button>
</div>