<div style="text-align: center;">
<h3 style="margin-top: 20px;">Olá, esperamos que tenha gostado da aula, como você avalia?</h3>

<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
  </span>
</ng-template>

<ngb-rating [(rate)]="currentRate" [starTemplate]="t" max="5"></ngb-rating>

<div style="display: flex; justify-content: center;">
    <button style="width: 50%;" class="btn btn-tcm btn-lg btn-block mt-4" (click)="avaliarAula()">Avaliar</button>
</div>
<hr>
</div>